<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
     internalLogLevel="Info"
     internalLogFile="${basedir}/logs/internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="allfile"
               fileName="${basedir}/logs/nlog-AspNetCore-all-${shortdate}.log"
               layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
			   maxArchiveFiles="4"
               archiveEvery="Day"
			   enableArchiveFileCompression="True"
			   encoding="utf-8"/>

		<target xsi:type="Console" name="lifetimeConsole" layout="${longdate}|${MicrosoftConsoleLayout}" />

		<target xsi:type="Database" name="sqlite_OwnLogs"
                connectionString="Data Source=${basedir}/logs/nlog-database.sqlite;"
                dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
                commandText="INSERT INTO OwnLogs(TimeStamp, LogLevel, Logger, Message, Exception) VALUES(@TimeStamp, @LogLevel, @Logger, @Message, @Exception)">
			<parameter name="@TimeStamp" layout="${longdate}" />
			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Exception" layout="${exception:format=tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, sqlite_OwnLogs" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="sqlite_OwnLogs" />
	</rules>
</nlog>